<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h2><%= shelter.name %></h2>
  <a href="/shelters/<%= shelter.id  %>/edit">Edit</a> |
  <a id="shelter-<%= shelter.id  %>" href="/shelters/<%= shelter.id  %>/" data-method="delete">Delete Shelter</a>
<% end %>

<br />
<a href="/shelters/new">New Shelter</a>